*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    font-family: 'Metropolis';
    /* background: #F5F5F5; */
    background-color:  #F5F5F5;
  
  }
  h6{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
  }
  h5{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
  }
  .card_header{
    background-color: #F5F5F5 !important;
  }
  .mainCard{
    position: absolute;
    margin-top: 50px;
    margin-left: 450px !important;
    width: 65%;
    height: 590px;
  }
  hr{
      border: 1px solid #D4D4D4;
      width: 100%;
      margin-bottom: 0;
      margin-top: 15px;
  }
  .parent_Flex{
    display: flex;
    justify-content: space-around;
    
}
.vertical {
  margin-top: 25px;
  border: 1px solid #D4D4D4;
  height: 166px;
  left: 50%;
}
.labelName2, .labelName3, .labelName4, .labelName5{
  margin-top: 30px;
}
.inputP2, .inputP3, .inputP4, .inputP5{
  margin-top: 22px;
}
.labelProf{
  margin-top: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #9B9B9B;
}
.inputProfile{
  margin-top: 34px;
}
.inpt{
  width: 100%;
  height: 48px;
  border: 1px solid #9B9B9B;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
}
.inputP3{
  margin-bottom: 0;
}
.inputP4{
  /* margin-top: px; */
  margin-bottom: 1px;
  width: 100%;
  height: 118px;
}
.inputP4 input[type ="text"]{
width: 348px;
height: 118px;
}

.inputP4 label{
  font-size: 14px;
  line-height: 24px;
  color: #9B9B9B;
}
.girl{
  margin-left: 10px;
}
.profilepic{
  margin-top: 34px;
}

.imageRight{
  width: 100px;
  height: 99px;
 
}
.profile_picture{
  object-fit: cover;
  width: 100px;
  height: 99px;
  border-radius: 80%;
  
}
.btnCenter button{
  margin-top: 25px;
  margin-left: 190px;
  width: 100px;
  height: 36px;
  border-radius: 25px;
  font-size: 14px;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: black;
}

.button_Wrap {
  margin-top: 19px;
}
.button {
  display: inline-block;
  padding-top: 7px;
  padding-left: 20px;
  /* padding-right: auto; */
  cursor: pointer;
  border: 1px solid #9B9B9B;
  box-sizing: border-box;
  border-radius: 24px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 24px;
  width: 120px;
  height: 36px;
  color: #9B9B9B;
}
.error{
  color: red;
  text-align: center;
  font-size: 14px;
}
