
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Metropolis';
}


.head_Corou{
    
    margin-top: 47px;
}
.texthead{
    margin-top: 50px;
    
}
.corousel{
    margin-top: 30px;
}