.buttonGroup button{
    display: inline-block;
    width: 123px;
    height: 48px;
    border: 1px solid #9B9B9B;
}
.buttonGroup{
    margin-top: 20px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.cus{
    background: #DB3022;
    border-color: #DB3022 !important;
    color: white;
    border-right: none !important;
    border-radius: 4px 0px 0px 4px;
}
.seller{
    background: white;
    border-left: none !important; 
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}
