.wrapper{
    width: 400px;
    height: 500px;
    font-family: Metropolis;
    /* background-color: lightgray; */
    /* padding: 0 50px 0 50px; */
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow: none;
}
/* h1{
    text-align: center;
} */
.wrapper .texttitle{
    font-size: 18px;
    font-weight: bold; 
    text-align: center;
    margin-top: 20px;
}

.buttonGroup button{
    display: inline-block;
    width: 123px;
    height: 48px;
    border: 1px solid #9B9B9B;
}
.buttonGroup{
    margin-top: 20px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.cus{
    background: #DB3022;
    border-color: #DB3022 !important;
    color: white;
    border-right: none !important;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
}
.seller{
    background: white;
    border-left: none !important; 
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

.forgotPass{
    margin-top: 20px;
    text-align-last: right;
}
.forgotPass a, .registerLink a{
    color: #DB3022;
    text-decoration: none;
}
.registerLink{
    margin-top: 20px;
    text-align: center;
}
.wrapper .formwarp{
    margin-top: 20px;
   
}
.form-control{
    height: 48px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #9B9B9B;
    padding-left: 20px;
}
.btnLogin{
    height: 48px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid lightgray;
    background: #DB3022;
    color: white;
    outline: none;
    cursor: pointer;
}
.errorborder{
    border: 1px solid red;
    height: 48px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 20px;
  }